.row-content-without-border {
    margin:0px auto;
    padding: 100px 0px 150px 0px;
}


/*Clases botones de editar y eliminar*/
.btn-actions {
    background-color: initial !important;
}

.btn-danger-icon {
    color: #fb404b !important;
}

.btn-info {
    border-color: #fb404b;
    color: #17a2b8 !important;
}

.btn-simple {
    border: 0 !important;
    font-size: 24px !important;
    padding: 8px 16px;
}

/*Clases para colocar boton a lado del h1,h2,h3 etc*/
.heading-inline {
    display: inline-block;
    margin-right: 5px;
}

.footer {
    background-color: #9D9FA0;
}